In [111]:
import pandas as pd
import numpy as np

## Read in datasets

In [112]:
df_si = pd.read_csv("SI_18v1.csv")
df_si.head()

/Users/yan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (19,20,22,23,24,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,SI,1,10,501,3.0,2000.0,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1
1,SI,1,17,501,3.0,NaN,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1
2,SI,1,18,501,3.0,NaN,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1
3,SI,1,19,501,3.0,NaN,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1
4,SI,1,21,501,3.0,NaN,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1

In [113]:
df_bx = pd.read_csv("BX_18v1.csv")
df_bx.head()

/Users/yan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1

In [116]:
df_bk = pd.read_csv("BK_18v1.csv")
df_bk.head()

/Users/yan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1

In [117]:
df_mn = pd.read_csv("MN_18v1.csv")
df_mn.head()

/Users/yan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (20,23,24,26,64) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.0,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.0,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.0,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.0,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.0,NaN,4,1.0,1.0,18V1

In [118]:
df_qn = pd.read_csv("QN_18v1.csv")
df_qn.head()

/Users/yan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,QN,6,1,402,1.0,NaN,30.0,26.0,11101.0,L115,...,Y,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
1,QN,6,3,402,1.0,1015.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
2,QN,6,8,402,1.0,1011.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,08/07/2013,1,1.0,1.0,18V1
3,QN,6,20,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
4,QN,6,30,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/08/2017,1,1.0,1.0,18V1

In [119]:
df_311 = pd.read_csv("fhrw-4uyv.csv", parse_dates = True)
df_311.head()

,created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status
0,2020-08-26T08:26:20.000,47369809,UNSANITARY CONDITION,10075.0,229 EAST 79 STREET,EAST 79 STREET,ADDRESS,NEW YORK,The following complaint conditions are still o...,MANHATTAN,40.773959,-73.956505,NaN,RESIDENTIAL BUILDING,Open
1,2020-08-26T18:39:39.000,47373557,HEAT/HOT WATER,10128.0,1754 2 AVENUE,2 AVENUE,ADDRESS,NEW YORK,The following complaint conditions are still o...,MANHATTAN,40.781315,-73.949224,NaN,RESIDENTIAL BUILDING,Open
2,2020-08-26T18:30:40.000,47369645,GENERAL,10013.0,37 CROSBY STREET,CROSBY STREET,ADDRESS,NEW YORK,The following complaint conditions are still o...,MANHATTAN,40.721040,-73.999343,NaN,RESIDENTIAL BUILDING,Open
3,2020-08-26T18:09:16.000,47373238,APPLIANCE,10026.0,300 MANHATTAN AVENUE,MANHATTAN AVENUE,ADDRESS,NEW YORK,The following complaint conditions are still o...,MANHATTAN,40.802859,-73.958408,NaN,RESIDENTIAL BUILDING,Open
4,2020-08-26T06:15:57.000,47372385,PLUMBING,10467.0,3210 OLINVILLE AVENUE,OLINVILLE AVENUE,ADDRESS,BRONX,The complaint you filed is a duplicate of a co...,BRONX,40.871854,-73.868238,NaN,RESIDENTIAL BUILDING,Open

## General info

In [120]:
# date range

df_311['created_date'].min()

'2010-01-01T00:00:00.000'

In [121]:
# date range

df_311['created_date'].max()

'2020-08-26T23:40:41.000'

In [122]:
# invalid addresses

sum(df_311['incident_address'].isnull())

52831

In [123]:
# the number of zipcode (excluding nan)

print(df_bx['ZipCode'].unique().shape[0]-1)

df_qn['ZipCode'].unique().shape[0]-1

26

65

## Choose subset till 2020/02/02

In [124]:
df_311[df_311['created_date']<='2020-02-02T00:00:00.000'].shape[0]
df_311.loc[0:6019842].shape

df_311 = df_311.loc[0:6019842]

## Complaints type

In [125]:
# how many complaint types


df_311['complaint_type'].unique().shape

df_311['complaint_type'] = df_311['complaint_type'].str.lower()

df_311['complaint_type'].unique()

array(['unsanitary condition', 'heat/hot water', 'general', 'appliance',
       'plumbing', 'water leak', 'door/window', 'flooring/stairs',
       'paint/plaster', 'outside building', 'electric', 'safety',
       'elevator', 'hpd literature request', 'heating',
       'general construction', 'paint - plaster', 'nonconst',
       'construction', 'agency', 'vacant apartment', 'structural', 'mold'],
      dtype=object)

In [126]:
sum(df_311['complaint_type'] == 'elevator')
sum(df_311['complaint_type'] == 'electric')

308993

In [127]:
for x in df_311['complaint_type'].unique():
    xtrue = sum(df_311['complaint_type'] == x)
    if  xtrue >= 80000:
        print('Type: %s has %i cases' % (x, xtrue))

Type: unsanitary condition has 479369 cases
Type: heat/hot water has 1307131 cases
Type: general has 155173 cases
Type: appliance has 116750 cases
Type: plumbing has 708807 cases
Type: water leak has 200383 cases
Type: door/window has 212784 cases
Type: flooring/stairs has 141296 cases
Type: paint/plaster has 353016 cases
Type: electric has 308993 cases
Type: heating has 815137 cases
Type: general construction has 488208 cases
Type: paint - plaster has 351395 cases
Type: nonconst has 255154 cases

## Top complaint

In [128]:
df_heat = df_311[(df_311['complaint_type'] == 'heating') | (df_311['complaint_type'] == 'heat/hot water')]

In [129]:
df_heat.groupby('borough').size()

borough
BRONX            597405
BROOKLYN         564203
MANHATTAN        417908
QUEENS           241655
STATEN ISLAND     18180
Unspecified      282917
dtype: int64

In [130]:
mx = df_heat.groupby('incident_zip').size().max()
sum(df_heat['incident_zip'] == 11226)

68152

In [131]:
mx = df_heat.groupby('street_name').size().max()
sum(df_heat['street_name']== '89-21 Elmhurst Avenue' )== mx

False

In [132]:
sum(df_heat['status']== 'Closed')

2107778

## SI dataset

In [133]:
df_si.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [134]:
df_si['NumFloors'].describe()

count    124493.000000
mean          1.823488
std           0.889205
min           0.000000
25%           1.500000
50%           2.000000
75%           2.000000
max         114.000000
Name: NumFloors, dtype: float64